privacy__body {
  background: transparent;
}

privacy__title {
  font-family: Arial;
  font-size: 26px;
  color: #BA8D46;
}

privacy__subtitle {
  font-family: Arial;
  color: #BA8D46;
  font-size: 15px;
}

privacy__heading_1 {
  font-family: Arial;
  font-size: 22px;
  color: #BA8D46;
}

privacy__heading_2 {
  font-family: Arial;
  font-size: 18px;
  color: #BA8D46;
}

privacy__body_text {
  color: #8C724A;
  font-size: 15px;
  font-family: Arial;
}

privacy__link {
  color: #6B90BD;
  font-size: 15px;
  font-family: Arial;
  word-break: break-word;
}