html {
    font-size: 10px;
}

body {
    margin: 8rem auto 8rem;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.4rem;
    line-height: 1.5;
    color: #34547A;
    background-color: #E5E5E5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h3 {
    font-size: 1.6rem;
}

a {
    color: #A9A9A9;
    text-decoration: none;
    cursor: pointer;
    transform: none;
}

p {
    margin: 0 0 1rem;
}

.page {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1280px;
}

input {
    outline: none;
}

/*Header
====================*/

.header {
    display: flex;
    height: 8rem;
    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    align-items: center;

    background-color: #F9F9F9;
    box-shadow: 0 5px 15px rgba(52, 84, 122, 0.6);

    position: fixed;
    z-index: 10;
    top: 0;
}

.header::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #34547A;

    position: absolute;
    left: 0;
    bottom: 0px;

    box-shadow: 0 3px 3px rgba(52, 84, 122, 0.6);
}

.logo {
    display: flex;
    justify-content: center;
    height: auto;
    width: 30%;
}

.icon {
    display: block;
    height: 8rem;
    width: 8rem;

    fill: #34547a;
    filter: drop-shadow(0 3px 3px rgba(52, 84, 122, 0.6));
    transition: all .4s linear;
}

.icon:hover,
.icon:focus {
    fill: #359707;
    filter: drop-shadow(3px 3px 10px rgba(52, 150, 7, 0.6));
    transform: perspective(10rem) rotateX(45deg);
}

.nav__burger {
    display: none;

    cursor: pointer;
}

.nav {
    width: 70%;
}

.nav__bar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    z-index: 2;
}

.nav__item {
    margin: 0 0 0 2rem;
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: #34547A;

    text-transform: uppercase;
    transition: all .4s linear;
}

.nav__item:hover,
.nav__item:focus {
    transform: translate3d(-.5rem, .5rem, -.5rem) skew(-10deg);
}

.nav__item:active {
    transform: none;
}

.active__link {
    transform: skew(-10deg);
    display: block;
    margin-left: 3rem;
    margin-bottom: 2px;

    color: #34547A;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 .9px #34547A,
        0 0 .9px #34547A;

    border-bottom: 3px solid #34547A;

    transition: all .4s linear;
}

/* Arrow
===============================*/

.down__arrow {
    display: block;
    height: 3rem;
    width: 3rem;

    fill: #34547A;

    position: absolute;
    top: -4rem;
    left: calc(50% - 1.5rem);

    transition: all .4s linear;
    filter: drop-shadow(0 .2rem .1rem rgba(52, 84, 122, 0.6));
    z-index: 5;
}

.down__arrow:hover,
.down__arrow:focus {
    fill: #349607;
    cursor: pointer;

    transform: scale(1.3);
    filter: drop-shadow(0 .3rem .2rem rgba(52, 150, 7, 0.6));
}

.down__arrow:active {
    fill: #246506;
    transform: scale(1);
}

.main {
    margin-top: 8rem;
    position: relative;
}

/* Home
===============================*/

.home {
    border-top: 8rem solid transparent;
    margin-top: -8rem;
    padding: 2rem;
    display: flex;
    width: inherit;
    min-height: calc(100vh - 8rem);

    background-color: #E5E5E5;
    background-clip: padding-box;

    position: relative;
    z-index: 1;
}

.home__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: auto;
    width: 50%;

    position: relative;
}

.home__promo {
    display: block;
    padding: 4rem;

    height: auto;
    max-width: 80%;
    min-width: 28rem;
}

.home__rigth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;

    height: auto;
    width: 50%;
}

.home__title {
    padding-bottom: 5%;
}

.home__description {
    padding-bottom: 5%;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.home::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #34547A;

    position: absolute;
    left: 0;
    bottom: 1px;

    box-shadow: 0 3px 3px rgba(52, 84, 122, 0.6);
}


/* About
===============================*/

.about {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "about__header about__header"
        "about__banner about__banner"
        "about__photo about__skills";
    justify-items: center;
    align-items: center;
    border-top: 8rem solid transparent;
    margin-top: -8rem;
    padding: 2rem;
    width: inherit;
    min-height: calc(100vh - 8rem);

    background-color: #F9F9F9;
    background-clip: padding-box;

    position: relative;
    z-index: 1;
}

.about::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #34547A;

    position: absolute;
    left: 0;
    bottom: 1px;

    box-shadow: 0 3px 3px rgba(52, 84, 122, 0.6);
}

.about__header {
    grid-area: about__header;
    justify-items: center;
    align-items: center;

}

.about__title {
    text-align: center;
}

.about__article {
    text-align: justify;
}

.about__banner {
    grid-area: about__banner;
    display: grid;
    padding: 0 2rem;
    grid-template-columns: repeat(6, 1fr [about__ico]);
    place-items: center end;

    line-height: 1.4;
    color: #E5E5E5;

    background: #34547A;
}

.about__ico {
    grid-area: about__ico;

    color: #E5E5E5;
}

.about__ico2,
.about__ico4,
.about__ico6 {
    margin-right: auto;
}

.about__banner i {
    margin: .2rem;
    font-size: 3.4rem;
}

.about__banner p {
    margin: .8rem;
    text-transform: uppercase;
    text-align: left;
}

.about__skills {
    grid-area: about__skills;


    color: #112D4F;
}

.my__skills {
    padding: 0 1rem 0;
    list-style: circle inside;
    line-height: 1.5;
}

.my__skills strong {
    font-size: 1.6rem;
    font-weight: 700;
}

.about__photo {
    grid-area: about__photo;
    text-align: center;
}

.my__foto {
    display: block;
    margin: auto auto;
    padding: 0 1rem 3rem;

    height: auto;
    max-width: 60%;
    min-width: 28rem;
}

/* Portfolio
===============================*/

.portfolio {
    border-top: 8rem solid transparent;
    margin-top: -8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: inherit;
    min-height: calc(100vh - 8rem);

    background-color: #E5E5E5;
    background-clip: padding-box;

    position: relative;
    z-index: 1;
}

.portfolio__title {
    text-align: center;
}

.portfolio::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #34547A;

    position: absolute;
    left: 0;
    bottom: 1px;

    box-shadow: 0 3px 3px rgba(52, 84, 122, 0.6);
}

.swiper {
    width: 100%;
    height: calc(100vh - 30rem);
    margin: 20px auto;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    text-align: center;
    font-size: 18px;

    background: #fff;
}

.swiper-slide--description {
    order: 1;
    flex-basis: 20%;
    margin: 10px;

    text-align: left;
}

.swiper-slide--title .nav__item {
    margin-bottom: 10px;
    margin-left: 0;
}

.swiper-slide--image {
    order: 2;
    display: block;
    max-width: 768px;
    width: 80%;
    height: auto;
    object-fit: contain;
}

/* Process
===============================*/

.process {
    border-top: 8rem solid transparent;
    margin-top: -8rem;
    padding: 2rem;
    display: flex;
    width: inherit;
    min-height: calc(100vh - 8rem);

    background-color: #F9F9F9;
    background-clip: padding-box;

    position: relative;
    z-index: 1;
}

.process::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #34547A;

    position: absolute;
    left: 0;
    bottom: 1px;

    box-shadow: 0 3px 3px rgba(52, 84, 122, 0.6);
}

/* Contact
===============================*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 8rem solid transparent;
    margin-top: -8rem;
    padding: 2rem;
    display: flex;
    width: inherit;
    min-height: calc(100vh - 8rem);

    background-color: #E5E5E5;
    background-clip: padding-box;

    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}

.contact__story {
    opacity: 0;
    text-align: center;
    transform: scale(.5);
    transition: all 1s ease-in-out;
}

.contact__story--visible {
    transform: scale(1);
    opacity: 1;
}

.contact__title {
    margin-bottom: 1rem;
}

.contact__section {
    font-size: 1.6rem;
    font-weight: 600;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    max-height: 70rem;
    width: 100%;
    max-width: 70rem;
    padding: 4rem 4rem 2rem;

    background-color: #34547A;
    border-radius: .5rem;

    position: relative;
    opacity: 0;
    transform: scale(.5);
    transition: all 1s ease-in-out;
}

.contact__form--visible {
    transform: scale(1);
    opacity: 1;
}

.form__group--contact {
    margin-bottom: 3rem;
}

.form__contact--textarea {
    overflow: hidden;
    resize: none;
    outline: none;
}

.form__footer--contact {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact__subtitle {
    margin: .5rem;

    font-family: inherit;
    text-align: center;

    position: relative;
    opacity: 0;
    transform: scale(.5);
    transition: all 1s ease-in-out;
}

.contact__subtitle--visible {
    transform: scale(1);
    opacity: 1;
}

.contact__platforms {
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%t;

    font-size: 2.4rem;
    line-height: 1.2;
    color: #34547A;

    position: relative;
    opacity: 0;
    transform: scale(.5);
    transition: all 1s ease-in-out;
}

.contact__platforms--visible {
    transform: scale(1);
    opacity: 1;
}

.contact__platforms a {
    color: #34547A;
}

.click_to_copy {
    cursor: pointer;
}

.contact__hint {
    display: none;
}

.click_to_copy:hover,
.click_to_copy:focus {
    display: none;
}

.click_to_copy:hover+.contact__hint,
.click_to_copy:focus+.contact__hint {
    display: block;
    box-shadow: inset 0 0 0 4px #E5E5E5;
    transition: all 0.5s ease;
}



/* Footer
===============================*/

.footer {
    margin-top: 0;
    padding: 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 320px;
    max-width: 1280px;
    height: 8rem;

    font-size: 1.2rem;
    color: #E5E5E5;

    background-color: #34547A;
    box-shadow: 0 -3px 5px rgba(52, 84, 122, 0.6);

    position: fixed;
    bottom: 0;
    z-index: 10;
}

/* Btn on homepage
===============================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.6em 2.6em;

    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.1;
    letter-spacing: .1em;
    font-weight: 500;
    color: #E5E5E5;
    text-decoration: none;
    text-transform: uppercase;

    background: #34547A;
    border: none;
    cursor: pointer;
    border-radius: .5em;

    box-shadow: .6rem .6rem .6rem rgba(52, 84, 122, 0.6);
    transition: all .4s linear;

}

.btn--small {
    margin-top: 1rem;
    padding: 1.2em 2em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: .8;
    letter-spacing: .1em;
    font-weight: 500;

    background: #6B90BD;
    border: none;
    cursor: pointer;
    border-radius: .3em;

    box-shadow: .3rem .3rem .3rem rgba(107, 144, 189, 0.6);
}

.btn:focus {
    outline: none;
}

.btn:hover,
.btn:focus {
    background-color: #349607;
    cursor: pointer;

    transform: scale(.96);
    box-shadow: .3rem .3rem .3rem rgba(52, 150, 7, .6);
}

.btn:active {
    background-color: #246506;
    transform: scale(1);
}

/* Modal
===============================*/

.modal__overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;

    background-color: rgba(52, 84, 122, .8);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.modal__content {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    padding: 2rem;

    background-color: #112D4F;
    border-radius: .5rem;

    position: relative;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform .6s ease-in-out,
        opacity .6s ease-in-out;
}

.modal__content--contact {
    margin: 2rem 6rem 0;
}

.modal__content--story {
    padding: 0;
    background: none;
}

.modal__content--privasy {
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0;
    max-height: 60rem;
    min-height: 30rem;
    max-width: 80rem;
    width: 100%;
}

.modal__close {
    display: block;
    margin-left: auto;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: .5;

    position: sticky;
    top: 0rem;

    transition: transform .4s linear, opacity .4s linear;
}

.modal__close:hover,
.modal__close:focus {
    outline: none;
    transform: rotate(90deg);
    opacity: 1;
}

.modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1rem;
    padding: 0;

    color: #E5E5E5;
}

.modal__footer li {
    list-style-type: none;
    margin: 0 .5rem;
}

.modal__footer a {
    color: inherit;
    text-decoration: underline;
}

.modal__footer a:hover,
.modal__footer a:focus {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}

.modal__overlay--visible {
    display: flex;
}

.modal__show {
    display: flex;
}

/* End of modal ===============================*/

/* Output (for privacy notice modal)
===============================*/

.output {
    margin: 1rem auto 2rem;
    padding: 1rem;
    height: 80%;
    max-width: 70rem;
    min-width: 20rem;

    font-size: 1.2rem;
    color: #E5E5E5;

    border: 1px solid #595959;
    box-sizing: border-box;
    overflow: auto;
}

/* End of output ===============================*/

/* Form 
===============================*/

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--md {
    margin-bottom: 2.5rem;
}

.form__control {
    display: block;
    width: 100%;
    padding: .5rem 0 .75rem;

    background: none;
    border: none;
    border-bottom: 1px solid #6B90BD;
    /* it does not appear in the Safari browser on IOS devices, as by default */
    border-radius: 0;
    /* it does not appear in the Safari browser on IOS devices, as by default */
    box-shadow: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: #E5E5E5;
}

.form__control::placeholder {
    color: rgba(169, 169, 169, .6);
}

.form__control:focus+.form__line {
    width: 100%;
}

.form__control--textarea {
    height: 30px;
    overflow: hidden;
    resize: none;
    outline: none;
}

.form__line {
    width: 0;
    height: 1px;

    background-color: #349607;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .4s linear;
}

/* End of form ===============================*/

/* Media
===========================================================================*/

/* Media max-width: 991px
===============================*/

@media (max-width:991px) {
    .about__banner i {
        font-size: 2.2rem;
    }

    .about__banner p {
        font-size: 1.2rem;
    }

    .portfolio {
        margin: auto;
    }

    .swiper-slide {
        flex-direction: column;
    }

    .swiper-slide--description {
        order: 1;
        flex-basis: none;
        margin: 10px 10px 40px;

        text-align: center;
    }

    .swiper-slide--title .nav__item {
        color: #34547A;
    }

    .swiper-slide--image {
        margin-bottom: 40px;
    }

    .swiper-slide--image img {
        width: 100%;
    }
}

/* End of media max-width: 991px ===============================*/

/* Media max-width: 767px
===============================*/
@media (max-width:767px) {

    body {
        margin: 5rem auto 5rem;
    }

    .main {
        margin-top: 5rem;
    }

    .header {
        height: 5rem;
    }

    .icon {
        height: 5rem;
        width: 5rem;
    }

    .down__arrow {
        display: none;
    }

    .home {
        border-top: 5rem;
        margin-top: -5rem;
        /* min-height: 100vh; */
        min-height: calc(100vh - 5rem);
    }

    .about,
    .portfolio,
    .process,
    .contact {
        border-top: 5rem solid transparent;
        margin-top: -5rem;
        min-height: calc(100vh - 5rem);
        /* min-height: 100vh; */
    }

    .home__left,
    .home__promo {
        display: none;
    }

    .home__rigth,
    .home__section {
        margin: 0 auto;
        width: 100%;
        text-align: center;

        z-index: 3;
    }

    .overlay {
        margin: inherit;
        padding: inherit;
        width: 100%;
        height: 100%;

        background: url('../img/development_png.png') no-repeat center/contain;
        opacity: .15;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        transition: opacity .5s linear;
    }

    .home__title,
    .home__description {
        transition: opacity .5s linear;
    }

    .opacity--1 {
        transition: opacity 1s linear;
    }

    .overlay.opacity--1 {
        opacity: 1;
        transition: opacity 2s linear;
    }

    .home__title.opacity--1,
    .home__description.opacity--1 {
        opacity: 0;
        transition: opacity 2s linear;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-areas:
            "about__header"
            "about__banner"
            "about__photo"
            "about__skills";
    }

    .about__banner {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "about__ico1 about__ico2"
            "about__ico3 about__ico4"
            "about__ico5 about__ico6";
        padding: 0 1.3rem;
    }

    .contact__platforms a {
        font-size: 2rem;
    }

    .footer {
        height: 5rem;
    }

    .footer__copyright {
        margin-bottom: 2px;
    }

    .btn--small+.btn {
        display: inherit;
    }

    /* Burger-navigation
===============================*/

    /*disable scrolling of content under the open burger menu*/
    .body.lock {
        overflow: hidden;
    }

    .nav__burger {
        display: block;
        margin-left: auto;

        width: 30px;
        height: 20px;

        position: relative;
        right: 2rem;
        z-index: 6;
    }

    .nav__burger span {
        position: absolute;
        background-color: #34547A;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;

        transition: all .5s ease 0s;
    }

    .nav__burger:before,
    .nav__burger:after {
        content: '';
        background-color: #34547A;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;

        transition: all .5s ease 0s;
    }

    .nav__burger:before {
        top: 0;
    }

    .nav__burger:after {
        bottom: 0;
    }


    .nav__burger.active span {
        display: none;
    }

    .nav__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .nav__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .nav__burger.active:hover:before,
    .nav__burger.active:focus:before {
        transform: rotate(180deg);
    }

    .nav__burger.active:hover:after,
    .nav__burger.active:focus:before {
        transform: rotate(90deg);
    }

    .nav__burger.active:hover:before,
    .nav__burger.active:hover:after {
        background: #34547A;
    }

    .nav__burger.active:focus:before,
    .nav__burger.active:focus:after {
        background: #34547A;
    }

    .nav {
        padding: 70px 10px 20px 10px;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        /*add a scrolling burger menu if it does not fit on the screen*/
        overflow: auto;
        background-color: rgba(52, 84, 122, 0.85);

        transition: all .5s ease 0s;
    }

    .nav.active {
        top: 5rem;
    }

    .nav__bar {
        margin-bottom: 4rem;
        display: block;
    }

    /*Increasing the font of the menu when responsive*/
    .nav__item {
        margin: 0 0 2rem 0;
        display: inline-block;

        font-size: 3rem;
        color: #F9F9F9;
    }

    .active__link {
        border-bottom: 3px solid #F9F9F9;
    }

    /* End of burger-navigation ===============================*/

}

/* End of Media max-width: 767px  ===============================*/


/* Media max-width: 379px
===============================*/
@media (max-width:379px) {
    html {
        font-size: 8px;
    }

    .footer {
        font-size: 1.2rem;
    }

    p {
        margin: 0 0 .7rem;
    }

    .modal__content--contact {
        margin: 2rem 4rem 0;
    }

    .modal__footer {
        flex-direction: column;
    }

    .modal__footer li {
        margin: 0 .5rem .5rem;
    }

    .about__article {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .about__banner i {
        font-size: 2rem;
    }

    .about__banner p {
        margin: .5rem;
        font-size: 1.1rem;
    }

}

/* End of Media max-width: 379px  ===============================*/


/* End of media ===============================*/

.visible {
    transform: none;
    opacity: 1;
}